<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Shaping Up with Angular</title>
</head>
<body class="list-group " ng-controller="StoreController as store">
<header>
    <h1 class="text-center">Flatlander Crafted Gems</h1>
    <h2 class="text-center">- Angular store</h2>

</header>

<div class="list-group-item" ng-repeat="product in store.products">
    <h3>
        {{product.name}}
        <em class="pull-right"> {{ product.price | currency }}</em>
    </h3>

    <!-- Image Gallery -->
    <div class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery">
        <img ng-src="{{product.images[gallery.current]}}" />
        <ul class="list-inline thumbs">
            <li class="thumbnail" ng-repeat="image in product.images">
                <img ng-src="{{image}}" />
            </li>
        </ul>
        
    </div>
<product-tab></product-tab>

</div>



</body>
</html>